@font-face {
    font-family: 'piston';
    src: url('piston.eot');
    src: url('piston.eot?#iefix') format('embedded-opentype'),
         url('piston.woff2') format('woff2'),
         url('piston.woff') format('woff'),
         url('piston.ttf') format('truetype'),
         url('piston.svg#piston') format('svg');
    font-weight: normal;
    font-style: normal;

}
