header + section.log, header + section.filter {
	text-align: center;

	img {
		position: relative;
		margin-bottom: 65px;
		top: 60px;
		transition: 1s;
	}
}

aside {
	position: relative;
	top: 5px;
	font-family: bitter;
	font-size: 2vw;
	text-shadow: rgb(255, 255, 255) 1px 1px 0;
}

h2 {
	margin-left: 0 auto;
	text-align: center;

	p {
		font-family: bitter;
		font-size: 2.6vw;
		line-height: 1.2em;
		text-shadow: rgb(255, 255, 255) 1px 1px 0;
	}
}



